img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
    border-radius: 0 0 70% 70%;
}
#slider.hero,
.overlay {
    position: relative;
}
#slider::after,
.overlay::after {
    content: '';
    background: linear-gradient(120deg, #6633995d, #00001a);
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#slider  .slide {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.title h2 {
    font-weight: bolder;
    color: white;
    font-size: 8.5rem;
}
.call-to-action {
    padding: 20px 50px;
    background: linear-gradient(120deg, #ff45295d, #9503ac);
    border-radius: 30px;
    color: #cececeae;
    font-weight: 700;
}
.call-to-action-btn1 {
    background: linear-gradient(120deg, royalblue, crimson);
}
.advent-s {
    background: url(../images/advent-se.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.worship-1 {   
    background: url(../images/worship.avif) no-repeat;
    background-size: cover;
    background-position: center;
}
.gift-1 {   
    background: url(../images/gift.avif) no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-1 {
    background: url(../images/login1.jpg) no-repeat;
}
#sign-up {
    display: none;
}
.input-group input {
    display: block;
    width: 100%;
    border: solid thin #00001a3b;
    margin-top: .2rem;
    outline: none;
    border-radius: 5px;
}
.heading {
    font-size: 50px;
}
.count {
    font-size: 34px;
    font-weight: 500;
}
@media(max-width: 768px) {
    .count-down {
        left: unset;
        width: 100% !important;
        padding: 10px 20px !important;
    }
    .info {
        width: 100%;
        padding: 10px 20px !important;
    }
    .flex-holder {
        display: unset !important;
    }
    .flex-holder .flex-hold {
        font-size: 19px;
        width: 100%;
        padding: unset !important;
    }
    .heading {
        font-size: 20px !important;
    }
    .flex-hold h1,
    .flex-hold h2, 
    .flex-hold h3,
    .flex-hold h4,
    .flex-hold h5,
    .flex-hold h6 {
        font-size: unset;
    }
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .head-1 {
        font-size: 30px !important;
    }
    .hid-sm {
        display: none;
    }
}
/* 920×1080, 1366×768, and 360×640 */